body{
  scroll-behavior: 100%;
}
header {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  height: 50px; 
  background-color: #38c3a2;
  z-index: 999;
}
.navbar-slide-in {
  background-color:  #f3fffe; 
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  
  
}
.mycontent{
  position: relative;
}

.navbar-brand img {
  max-height: 40px; 
}
.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
a.nav-link{
  
  font-weight: bold;
  padding:3px 0px!important;
}
.nav-link { 
  text-decoration: none;
  font: 1em sans-serif;
  transition: 0.3s;
  margin: 5px;
}

.nav-link:hover,
.nav-link.active {
  border-bottom: 2px solid #c71010;
  font-weight: 600;
  color: #c71010!important;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
}

.navbar-toggler-icon {
  background-color: #ffffff; 
}
.nav-item{
  margin:0 5px;
  color: black;
  font-weight: 500;
}


@media (max-width: 767px) {
  .navbar-brand {
    margin-left: 50px;
  }
  header {
    height: auto;
  }
  .navbar-nav {
    justify-content: center;
    height: auto;
    text-align: center;
  }


  .nav-link {
    margin: 5px;
  }
  .nav-link:hover{
    background-color: #ffffff;
  }

  .collapse.navbar-collapse {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  }

  .collapse.navbar-collapse a {
    color: #000000; 
  }

  .collapse.navbar-collapse .dropdown-item {
    color: #ffffff; 
  }
}
#home {
  margin-top: 60px;
  background: linear-gradient(90deg, #331147, #1c0606, #481313, #231b59, #310d31,rgb(21, 6, 16));
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease-in-out forwards infinite;
  padding: 100px 0;
  text-align: center;
  color: #ffffff;
  
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%; 
  }
  50% {
    background-position: 50% 50%; 
  }
  100% {
    background-position: 100% 50%; 
  }
}
#home .profile-photo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: alternateAnimation 2s ease-in-out forwards;
  opacity: 0;
}
@keyframes alternateAnimation {
  0% {
    transform: translateZ(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.mytxt{
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 768px) {
 
  #home .row {
    flex-direction: row;
  }
  #home .profile-photo {
    float: left;
    margin-left: 30px;
    animation: alternateAnimation 2s ease-in-out forwards;
    opacity: 0;
  }
  @keyframes alternateAnimation {
    0% {
      transform: translateZ(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
    
  
  .mytxt{
    text-align: start;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
  }
}

.text-transition h1 {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.text-transition h2 {
  font-size: 24px;
  font-weight: bold;
  color: #fefefe;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.text-transition p {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px;
}

.text-transition.mytxt h1 {
  animation: textAnimation 1s linear;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes textAnimation {
  0% {
    width: 0;
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    width: 100%;
    opacity: 1;
    transform: translateX(0);
  }
}
.text-transition.mytxt h2 {
  animation: textAnimation 1s linear 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.text-transition.mytxt p {
  animation: pAnimation 1.5s linear 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes pAnimation {
  0% {
    width: 100%;
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    width: 100%;
    opacity: 1;
    transform: translateX(0);
  }
}

#about {
  padding: 60px 0;
  background-color: #f9f9f9;
  opacity: 0;
  animation: aboutAnimation 0.5s ease-in-out 0.2s forwards;
}
@keyframes aboutAnimation {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#skills{
  padding: 60px 0;
  background-color: #f9f9f9; 
}

#about h2 {
  text-align: center;
  font-size: 36px;
  color: #333333; 
  font-weight: 700;
  margin-bottom: 30px;
}
#skills h2 {
  text-align: center;
  font-size: 36px;
  color: #333333; 
  font-weight: 700;
  margin-bottom: 30px;
}

#about hr {
  width: 80px;
  height: 3px;
  background-color: #007bff; 
  margin: 0 auto 20px;
}
#skills hr {
  width: 80px;
  height: 3px;
  background-color: #007bff; 
  margin: 0 auto 20px;
}
#about h3 {
  font-size: 26px;
  color: #007bff; 
  font-weight: 700;
  margin-bottom: 15px;
}

#skills h3 {
  font-size: 26px;
  color: #007bff; 
  font-weight: 700;
  margin-bottom: 15px;
}

#about p {
  font-size: 20px;
  color: #333333; 
  line-height: 1.6;
}
#skills p {
  font-size: 16px;
  color: #333333; 
  line-height: 1.6;
}
@media (max-width: 767px) {
  #about h2 {
    font-size: 30px;
  }
  #about .details{
    text-align: center;
  }
  
  #about h3 {
    font-size: 25px;
  }
  #skills h2 {
    font-size: 30px;
  }
  #skills h3 {
    font-size: 25px;
  }
  .education{
    background-color: rgb(125, 75, 210);
  }
  .education .edu-level{
    color: white!important;
  }
  .education .edu-level strong{
    color: white!important;
  }
  .mydiv{
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .mydiv .progress{
    margin-bottom: 20px;
    width: 100%;
  }
  .mydiv .subdiv{
    background-color: rgb(125, 75, 210);
    padding: 10px!important;
  }
  .mydiv .subdiv strong{
    color: white!important;
  }
}

.mydiv .other{
  text-align: center;
    align-items: center;
    justify-content: center;
}
#about ul,#skills ul {
  list-style-type: none;
  padding: 0;
}


#about li,#skills li {
  font-size: 16px;
  color: #333333;
  margin-bottom: 10px;
}

#about strong,#skills strong {
  color: #000000; 
  font-weight: 600;
}
.progress{
  margin-bottom: 20px;
  width: 70%;
}
.education {
  list-style: none;
  padding: 0;
}

.edu-level {
  margin-bottom: 30px;
  padding: 15px;
  border-left: 2px solid #269a8c;
}
#services {
  background: rgb(82, 63, 99);

  padding: 60px 0;
}
#services h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}


.row-cols-1 {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  margin-bottom: 15px;
}


.card {
  width: 100%;
  background-color: #f9ffff!important;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1)!important;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}


.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 80px; 
  margin: 0 auto; 
  display: block;
  padding: 5px;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
  color: #666;
}


.card {
  background-color: #f9f9f9;
  color: #333;
}


@media (max-width: 768px) {
  .row-cols-1 {
    flex-direction: column;
  }
}


#projects-research {
  background-color: #f0faff;
  padding: 50px 0;
}

#projects-research h2 {
  color: #333;
  margin-bottom: 30px;
  font-weight: bold;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  margin-bottom: 30px;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#extra-curricular {
  padding-bottom: 30px;
  background-color: #ffffff;
  text-align: center; 
  margin-top: 10px;
}

.activities-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 800px; 
  margin: 0 auto; 
}

.activities-list li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  text-align: left; 
}

.activities-list li::before {
  content: "\2022";
  position: absolute;
  left: 0;
  top: 6px;
  font-size: 18px;
  color: #e74c3c;
}

.activities-list strong {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}


@media (max-width: 768px) {
  .activities-list {
    font-size: 16px;
  }
}


#contact {
  padding: 40px 0;
  background-color: #f8f9fa;
}

.section-title {
  text-align: center;
  color: #4a4a4a;
}

.contact-form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-group label {
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  resize: vertical;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #999;
}

.btn-submit {
  display: block;
  margin: 0 auto;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #45a049;
}

.contact-info {
  padding-top: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-bottom: 15px;
}
.contact-details{
  text-align: center;
  padding: 10%;
}

.contact-item i {
  font-size: 38px;
  margin-right: 10px;
}
.contact-item a {
  color: #333;
  text-decoration: none;
}
.contact-item .click:hover {
  color: #8d29ff;
}

@media (max-width: 768px) {
  .contact-item i {
    font-size: 22px;
  }
  .contact-details {
    text-align: center;
    padding: 0;
  }
}

#experience {
  background-color: #eeeeee;
  padding: 60px 0;
}

.section-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #222;
}

.experience-item {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}

.experience-item:hover {
  transform: translateY(-5px);
}

.experience-item h3 {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 10px;
}

.experience-item .company {
  font-size: 18px;
  color: #222;
  margin-bottom: 5px;
}

.experience-item .duration {
  font-size: 16px;
  color: #777;
  margin-bottom: 5px;
}

.experience-item .description {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
}

#hobbies {
  background-color: #280a5c;
  padding: 60px 0;
}

.hobby-item {
  text-align: center;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: aliceblue;
  transition: transform 0.3s ease;
}

.hobby-item:hover {
  transform: translateY(-5px);
}

.hobby-item i {
  font-size: 48px;
  margin-bottom: 20px;
}

.hobby-item h3 {
  font-size: 24px;
  font-weight: bold;
  color: #ff0000;
  margin-bottom: 10px;
}

.hobby-item p {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
}
#skills{
  background-color: #ffffff;
  padding: 60px 0;
}

#services hr{
  height: 4px;
  background-color: #ffffff; 
  opacity: 0.6;
  margin: 0 auto 20px;
}
#hobbies h2{
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}
#hobbies hr{
  height: 4px;
  background-color: #ffffffdd; 
  opacity: 0.6;
  margin: 0 auto 20px;
}

.animate-element {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.animate-element.visible {
  opacity: 1;
  transform: translateY(0);
}
